<!DOCTYPE html>

<html>

<head>
   <link rel = "icon" href="/img/weather.png">
   <!--- <link rel="stylesheet" href="./css/styles.css">            this was relative path -->
   <link rel="stylesheet" href="/css/styles.css">              <!-- this was absolute path -->

</head>

<body>
    <title>404</title>
    <div class="main-content">
    {{>header}}
    <p>{{errorMessage}}</p>
    </div>
    
    {{>footer}}
    
</body>>





</html>