<!DOCTYPE html>

<html>

<head>
    <title>ABOUT</title>
    <link rel = "icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class="main-content">
         {{>header}}
        <img class ="portrait" src="/img/mine.png">
    </div>
   
    {{>footer}}
</body>





</html>